<nav class="navbar navbar-expand-lg navbar-light bg-light">
<%= link_to root_path do %>
  <%= image_tag("logo.png", class:"img-fluid", style:"max-height: 50px;") %>
<% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <button type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#exampleModal">
      Login
    </button>
  </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Selecione seu perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Usuario: <%= link_to 'Acessar', user_clients_path %>
        </div>
        <hr>
        <div>
          Administrador: <%= link_to 'Acessar', dashboard_users_path %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
