
<div class="mt-5 mb-5">
 <%= link_to "<button class='btn btn-success'>Nova Reserva</button>".html_safe, user_reservations_path %>
</div>

<% if current_client.id == @reservation.client.id %>
Minhas Reservas
  <% @reservations.each do |reservation| %>
  <%= reservation.id %>
  <%= reservation.client.email %>
  <%= reservation.car.model %>
<% end %>
<% end %>


